FROM node:18-slim
WORKDIR /app
COPY package*.json ./
COPY . .
COPY cf_entrypoint.sh /cf_entrypoint.sh
RUN chmod +x /cf_entrypoint.sh
ENTRYPOINT ["/cf_entrypoint.sh"]
EXPOSE 3000
CMD ["node", "{{ entry_file }}"]
