FROM node:18-slim AS build
WORKDIR /app
COPY package*.json ./
COPY .cf_npm_cache/ .cf_npm_cache/
RUN if [ -f package-lock.json ]; then npm ci --cache .cf_npm_cache --prefer-offline --offline --no-audit; else npm install --cache .cf_npm_cache --prefer-offline --offline --no-audit; fi
COPY . .
RUN npm run build

FROM nginx:alpine
COPY --from=build /app/{{ build_output_dir }} /usr/share/nginx/html
COPY nginx.conf /etc/nginx/conf.d/default.conf
EXPOSE 80
CMD ["nginx", "-g", "daemon off;"]
